.navbar ul{
    list-style-type: none;
    background-color: #7ebc89ff;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
}

.navbar a{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: bold;
color: white;
text-decoration: none;
padding: 15px;
display: block;
text-align: center;
}

.navbar a:hover{
    background-color: black;
}

.navbar li{
    float: left;
}

body{
    margin: 0px;
    background-color: #c1dbb3ff;
}


.allcontent{
    grid-template-columns: 15fr 15fr;
}

.Nimh1{
    grid-column: 1/3;
}

.Kenh1{
    grid-column: 1/3;
}

.Ramboh1{
    grid-column: 1/3;
}

.Bakerh1{
    grid-column: 1/3;
}

.Fredh1{
    grid-column: 1/3;
}

img{
height: 200px;
width: 250px;
grid-column: 2/3;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
